<nav class="navbar">
  <div class="navbar-logo">
    <img src="/mega-logo.png" alt="MEGA Logo">
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/calculo-deuda" routerLinkActive="active-link">Cálculo de Deuda</a></li>
    <li><a routerLink="/administrador-promociones" routerLinkActive="active-link">Administrador de Promociones</a></li>
    <li><a routerLink="/administrador-paquetes" routerLinkActive="active-link">Administrador de Paquetes y Servicios</a></li>
    <li><a routerLink="/gestor-suscriptores" routerLinkActive="active-link">Gestor de Suscriptores</a></li>
  </ul>
</nav>
