<div class="component-body">
  <h1 class="highlight">Calculadora de deudas.</h1>
  <!-- Número de contrato. -->
  <div class="box" id="subscriptor-input">
    <app-inputbar (onChange)="onContractNumberChange($event)" [placeholder]="{ default: 'Número de contrato' }"
      [maxLength]="5" [filters]="getContractNumberFilters()" [width]="'400px'" alignment="center"
      [disabled]="disableUI" />
    <app-button [id]="'searchClientBtn'" [placeholder]="{ default: 'Buscar', waiting: 'Buscando...' }"
      (onAction)="onSearchClientBtnAction($event)" [disabled]="!contractNumber || disableUI" />
  </div>
  <!-- Información del suscriptor. -->
  <div *ngIf="contract" id="subscriptor-calculator-container">
    <div class="box" id="subscriptor-info">
      <h3 class="highlight-dark">Información del suscriptor</h3>
      <p>Número de contrato: <span>{{this.contract.getId()}}</span></p>
      <p>Nombre: <span>{{this.contract.getSubscriptor().getName()}}</span></p>
      <p>Fecha de contratación: <span>{{this.contract.getCreationDate()?.toISOString()?.split('T')?.at(0)}}</span></p>
      <p>Estado del servicio: <span>{{getContractStatus()}}</span></p>
    </div>
    <!-- Calcular deudas. -->
    <div class="box" id="calculator">
      <h3 class="highlight-dark">Calcular deuda.</h3>
      <div class="flex-container">
        <app-inputbar (onChange)="onFromDateInputChange($event)" [placeholder]="{ default: 'Desde' }" [type]="'month'"
          [disabled]="disableUI" />
        <app-inputbar (onChange)="onToDateInputChange($event)" [placeholder]="{ default: 'Hasta' }" [type]="'month'"
          [disabled]="disableUI" />
      </div>
      <div class="btn-container">
        <app-button [placeholder]="{ default: 'Calcular', waiting: 'Calculando...' }"
          (onAction)="onCalculateBtnAction($event)" [disabled]="!isCalculateBtnEnabled()" />
      </div>
      <div *ngIf="!areDatesConsistent()" class="error-message">
        {{getErrorMessage()}}
      </div>
    </div>
  </div>
  <!-- Tabla de deudas. -->
  <div *ngIf="debt" class="box" id="debt-table">
    <h3 class="highlight-dark">Resumen del cálculo.</h3>
    <app-debt-table [debt]="debt" />
  </div>