div.table {
  border: 2px solid #c2c2c2;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;

  table.header {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #ddd;

    th {
      // Cabeceras
      color: #274bad;
      padding: 8px 12px 8px;
      text-align: left;
    }

    th.subtotal-cell,
    th.total-cell {
      width: 154px;
    }

    th.button-cell {
      width: 68px;
    }
  }

  table.row {
    overflow: hidden;
    width: 100%;

    th {
      // Cabeceras
      color: #274bad;
      padding: 8px 12px 8px;
      text-align: left;
    }

    td:nth-child(2),
    td:nth-child(3) {
      width: 140px;
    }

    tr.info {
      td {
        color: #3d3d3d;
        font-size: 0.92rem;
        padding: 4px 20px 4px;
      }
    }

    td.btn-container {
      width: 0;
    }
  }

  div.dropdown {
    background-color: #4165b4;
    color: #ddd;
    overflow: hidden !important;
    height: 2px;

    * {
      transition: 0.25s;
      opacity: 0;
    }

    div.packages-container {
      background-color: #ffffff1a;
      border-radius: 8px;
      margin: 4px auto;
      padding: 8px;
      overflow-y: auto;
      width: calc(100% - 32px);

      h3 {
        margin: 4px 0;
      }

      div.package {
        background-color: #e2e2e2;
        border-radius: 8px;
        color: #494949;
        display: inline-block;
        margin: 0px 4px;
        overflow: hidden;
        padding: 4px 8px 4px;
        vertical-align: top;
        width: 240px;

        div.promos {
          background-color: #c4c4c4;
          border-radius: 8px;
          padding: 4px 8px 4px;

          h5 {
            margin: 4px 0px
          }

          div.promo {
            background-color: #d4d4d4;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            margin: 4px 0px;
            padding: 4px;

            p.name {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 100%;
            }

            p.discount {
              font-weight: bold;
              text-align: right;
              width: 64px;
            }
          }
        }

        h4 {
          margin: 0px;
          padding: 4px 0px 4px;
        }

        p {
          font-size: 0.8rem;
          margin: 0;
          padding-left: 4px;
        }

        p>span {
          font-weight: bold;
        }
      }
    }

    div.prices-container {
      padding: 12px;

      p {
        margin: 4px 0px;

        span {
          font-weight: bold;
        }
      }
    }
  }

  div.dropdown.show {
    animation: details-show 0.25s ease-in-out 0s 1 normal forwards;

    * {
      opacity: 1;
    }
  }

  div.dropdown.idle {
    height: auto;

    * {
      opacity: 1;
    }
  }

  div.dropdown.hide {
    animation: details-show 0.25s ease-in-out 0s 1 reverse forwards;
  }

  @keyframes details-show {
    from {
      height: 2px;
    }

    to {
      height: 194px;
    }
  }
}