<div class="table" (animationend)="onDropDownAnimationEnd($event)">
  <table class="header">
    <tr class="header">
      <th class="term-cell">Periodo</th>
      <th class="subtotal-cell">Subtotal</th>
      <th class="total-cell">Total</th>
      <th class="button-cell"></th>
    </tr>
  </table>
  <ng-container *ngFor="let termItem of debt.getTerms(); let i = index">
    <table class="row">
      <tr class="info">
        <!-- Fechas del periodo. -->
        <td>{{termItem.toPeriodDatesString()}}</td>
        <!-- Subtotal del periodo. -->
        <td>{{termItem.getPeriodSubPrice()}}</td>
        <!-- Total del periodo. -->
        <td>{{termItem.getPeriodPrice()}}</td>
        <!-- Botón para mostrar más detalles. -->
        <td class="btn-container">
          <app-button [id]="'btn-'+i" [placeholder]="{ default: '+' }" (onClick)="onExpandBtnClick($event)" />
        </td>
      </tr>
    </table>
    <div class="dropdown" [id]="'d' + i">
      <div class="packages-container">
        <h3>Paquetes</h3>
        <div *ngFor="let packItem of termItem.getPackages()" class="package">
          <h4>{{packItem.getName()}}</h4>
          <p>Servicios: <span>{{packItem.servicesToString()}}</span></p>
          <p>Precio base: <span>{{global.formatNumberToCoin(packItem.getBasePrice())}}</span></p>
          <div *ngIf="packItem.getPromotions()?.length" class="promos">
            <h5>Promociones</h5>
            <div *ngFor="let promo of packItem.getPromotions()" class="promo">
              <p class="name">{{promo.getName()}}</p>
              <p class="discount">- {{promo.pricePorcentToString()}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="prices-container">
        <p>Subtotal: <span>{{termItem.getPeriodSubPrice()}}</span></p>
        <p>Total: <span>{{termItem.getPeriodPrice()}}</span></p>
      </div>
    </div>
  </ng-container>
</div>