<h1>Administrador de Paquetes de Servicios</h1>

<div class="formulario-container">

    <div class="formulario">
      <div class="campo">
        <label>Nombre del Paquete:</label>
        <input [(ngModel)]="nuevoPaquete.nombre" placeholder="Ej. Paquete Plus" />
      </div>

      <div class="campo">
        <label>Alcance:</label>
        <div class="alcance-checkboxes">
            <label>
                <input type="checkbox" [checked]="nuevoPaquete.alcance === 'Residencial'"
                        (change)="seleccionarAlcance('Residencial')">
                        Residencial
            </label>
            <label>
                <input type="checkbox" [checked]="nuevoPaquete.alcance === 'Empresarial'"
                        (change)="seleccionarAlcance('Empresarial')">
                        Empresarial
            </label>
        </div>
      </div>

      <div class="campo">
        <label>Servicios Incluidos:</label>
        <select [(ngModel)]="servicioSeleccionado" (change)="agregarServicio()" class="select-servicio">
          <option value="">Selecciona un servicio</option>
          <option *ngFor="let servicio of serviciosDisponibles" [value]="servicio">{{ servicio }}</option>
        </select>
      
        <div class="box-elements" *ngIf="nuevoPaquete.servicios.length > 0">
          <div class="box-container">
            <div *ngFor="let s of nuevoPaquete.servicios; let i = index" class="element">
              <div class="content">
                <p>{{ s }}</p>
                <span class="button-sim" (click)="eliminarServicio(i)">
                  <span class="x1"></span>
                  <span class="x2"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="campo">
        <label>Precio Mensual:</label>
        <input [(ngModel)]="nuevoPaquete.precio" type="number" placeholder="$" />
      </div>



      <button (click)="registrarPaquete()">Registrar Paquete</button>
    </div>
  </div>

  <div class="table-container">
    <h1>Paquetes Registrados</h1>
    <table>
      <thead>
        <tr>
          <th>Nombre</th><th>Alcance</th><th>Servicios</th><th>Precio</th><th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paquete of paquetes; let i = index">
          <td>{{ paquete.getName() }}</td>
          <td>{{ obtenerAlcanceDePaquete(paquete) }}</td>
          <td>{{ obtenerServiciosDePaquete(paquete) }}</td>
          <td>${{ paquete.getBasePrice() }}</td>
          <td>
            <button (click)="editarPaquete(i)">✏️</button>
            <button (click)="eliminarPaquete(i)">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
