.formulario {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 12px;
    max-width: 500px;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 80px;
}
  
.formulario input,
.formulario button {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.formulario-container {
    padding: 0 20px; 
}
  
input {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
  
button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.table-container {
    padding: 0 20px; 
}
  
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden; 
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
  
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
  
h1 {
    color: white;
    font-family: 'Arial', sans-serif;
}
  
.campo {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.campo label {
    width: 120px; /* alineación uniforme */
    font-weight: bold;
    color: black;
    font-family: 'Arial', sans-serif;
}
  
.campo input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

